.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.card-container {
    transition: all 500ms ease !important;
}

.card-container:hover {
    transform: translateY(-10px) !important;
    box-shadow: 0 5px 10px gray
}