.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
    opacity: 80%;
    cursor: zoom-in;
}

.card-container {
    transition: all 500ms ease !important;
}

.card-container:hover {
    transform: translateY(-10px) !important;
    box-shadow: 0 5px 10px #0066ff;
    background: linear-gradient(0deg, rgb(0, 102, 255), #0066ff);
    color: white !important;
}

.item-btn {
    background-color: #0066ff;
}

.card-container:hover .item-btn {
    background-color: white;
    color: black !important;
}