footer {
    /* margin-top: 1rem; */
    width: 100%;
}

.copy-right {
    background-color: rgb(0, 55, 235);
}

.link-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 500ms;
}

.link-container:hover {
    border: none;
    background-color: white;
    color: rgb(17, 72, 253);
}